@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

#outer-container {
  height: -webkit-fill-available
}

.no-dash {
  margin: auto;
  top: 100px
}

.serviceName {
  position: relative;
  left:40px
}

.metrics ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.metrics li {
  display: block;
  text-align: left;
  position: relative;
  bottom: 20px;
}

.metrics {
  position: absolute;
  float: left;
}

.chart {
  float: right
}

.c3{
  top:-15px;
}

.dashboard {
  position: relative;
  top: 80px;
  width: 80%;
  margin-left: 8%;
  background-color: rgb(250, 249, 249);
  border: rgba(226, 225, 225, 0.856) solid 1px;
  border-radius: 5px;
  border: black solid 1px;
  height: 370px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.dashboard1 {
  position: relative;
  top: 80px;
  margin-right: 2%;
  width: 45%;
  float: right;
  background-color: rgb(250, 249, 249);
  border: rgba(226, 225, 225, 0.856) solid 1px;
  border-radius: 5px;
  border: black solid 1px;
  height: 370px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.button {
  width: 200px;
  border: #0F6CA4 solid 1px;
  color: #0F6CA4;
  margin: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
}

.button:hover {
  background-color: white;
  border: #0F6CA4 solid 1px;
}

.viewButton {
  float: right;
  position: absolute;
  ;
  top: 20px;
  border-radius: 5px;
  right: 5px;
  color: white;
  padding: 10px 20px;
  width: 100px;
  background-color: #0F6CA4;
  border: #0F6CA4 solid 1px;
}

.viewButton:hover {
  background-color: white;
  border: #0F6CA4 solid 1px;
  color: #0F6CA4
}

/* .selectors {
  float: left;
  margin: 0;
  margin-left: 20px;
  position: fixed;
  height: 80%;
  width: 100%;
  width: 240px;
  overflow: overlay;
} */

.cleatState {
  border: rgb(243, 51, 51) solid 1px;
  color: rgb(243, 51, 51);
}

.cleatState:hover {
  background-color: white;
  border: rgb(243, 51, 51) solid 1px;
}

.cleatState:active {
  color: rgb(243, 51, 51);
  background-color: white;
  border: rgb(243, 51, 51) solid 1px;
}

.c3 {
  float: right;
  width: 80%;
  bottom: 49px;
}

@media only screen and (max-width: 1450px) {
  .c3 {
    width: 70%
  }
}

@media only screen and (max-width: 1000px) {
  .c3 {
    width: 65%
  }
}

@media only screen and (max-width: 850px) {
  .metrics {
    visibility: hidden;
    position: absolute;
  }
  .serviceName {
    left: 0px;
    text-align: right;
  }
  .c3 {
    width: 100%
  }
  .dashboard1 {
    position: relative;
    top: 80px;
    margin-right: 7%;
    width: 80%;
    margin-left: 10%;
    background-color: rgb(250, 249, 249);
    border: rgba(226, 225, 225, 0.856) solid 1px;
    border-radius: 5px;
    border: black solid 1px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
}

/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 40px;
  width: 40px;
}

/* Color/shape of close button cross */

.bm-cross {
  background: white;
}

/* General sidebar styles */

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  width: 300px;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}